@import "tokens/reboot.scss";

@import "layouts/breakpoints.scss";
@import "tokens/spacings.scss";
@import "layouts/sections.scss";
@import "layouts/containers.scss";
@import "tokens/colors.scss";
@import "tokens/globales.scss";
@import "tokens/fonts.scss";
@import "tokens/typographys.scss";
@import "tokens/objet-styles.scss";
@import "tokens/keyframes.scss";

@import "components/nav.scss";
@import "components/menus.scss";
@import "components/footer.scss";
@import "components/buttons.scss";
@import "components/icons.scss";
@import "components/hero-banner.scss";
@import "components/banner.scss";
@import "components/title.scss";
@import "components/cards.scss";
@import "components/lists.scss";
@import "components/accordion.scss";
@import "components/inputs.scss";

@import "sections/method.scss";
@import "sections/services.scss";
@import "sections/specializations.scss";
@import "sections/tools.scss";
@import "sections/partners.scss";
@import "sections/carrousel.scss";
@import "sections/price.scss";
@import "sections/contact.scss";
@import "sections/request.scss";
@import "sections/thanks.scss";
@import "sections/error.scss";
@import "sections/why.scss";
@import "sections/audit.scss";
@import "sections/mvp.scss";