.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  @include media (tablet) {
    flex-direction: row;
  }

  &-text {
    width: 100%;
    color: $color-text;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media (tablet) {
      width: 50%;
    }

    h3 {
      color: $color-brand-primary;
      font-size: 40px;
      line-height: normal;
      font-weight: 400;
    }

    p {
      font-size: 18px;
      font-weight: 100;
      line-height: 22px;
    }

    a {
      display: flex;
      flex-direction: row;
      gap: 8px;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: $color-text;
    background-color: $color-card;
    padding: 24px;
    border: 2px solid rgba(99, 99, 99, 0.1);
    border-radius: 8px;

    @include media (tablet) {
      width: 50%;

      button {
        width: 300px;
      }
    }
  }
}