.method-grid {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    max-width: 940px;

    &-mvp {
        max-width: 768px;
        align-items: center;
        justify-content: center;
    }

    &-desktop {
        display: none;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 120px;

        &-column-left {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 24px;
        }

        &-column-right {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 48px;

        }

        @include media (tablet) {
            display: flex;
        }
    }

    &-mobile {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
        max-width: 940px;
        padding: 0px 20px;

        @include media (tablet) {
            display: none;
            padding: 0px;
        }
    }


}