.partner-grid {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16px;

    @include media (tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}