.services-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
  padding: 0px 20px;

  @include media (tablet) {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 0px;
  }
}


.services-grid {
  position: relative;
  padding: 0;

  &-primary {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media (tablet) {
      flex-direction: row;
      gap: 24px;
    }

    &-center {
      justify-content: center;
      align-items: center;

      @include media (tablet) {
        align-items: start;
      }
    }
  }

  &-secondary {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;

    @include media (tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 24px;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 13, 74, 0.20);
    filter: blur(25px);
  }

  &-mvp {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;

    @include media (tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      gap: 60px;
    }
  }

}

#extra {
  grid-template-columns: repeat(1, 1fr);

  @include media (tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-card-secondary {
    @include media (tablet) {
      max-width: none;
    }
  }
}