.tools-grid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include media (tablet) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}

.tool {
    height: 40px;
    width: auto;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    overflow: visible;

    img {
        height: 100%;
        width: auto;
    }

    .tooltip {
        display: none;
    }

    @include media (tablet) {
        &:hover {
            img {
                transform: scale(1.5);
            }

            .tooltip {
                display: block;
            }
        }
    }
}

.tooltip {
    width: auto;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-card;
    color: $color-text;
    border: 1px solid #a6a6a630;
    border-radius: 8px;
    overflow: hidden;
    padding: 4px 8px;
}