
.why-ux-ok {
    background-color: #050405; 
    &-container {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
        @include media (tablet){
            flex-direction: row;
        
        }
    }
    img {
        width: 100%;
        max-width: 550px;
        height: auto;
    }
    &-text {
        display: flex;
        flex-direction: column;
        color: $color-text;
        padding: 0 16px;
        gap: 16px;
        .h2 {
            text-transform: none;
        }
        &-item {
            display: flex;
            flex-direction: row;
            gap: 8px;
            justify-content: start;
            align-items: start;
            img {
                width: 32px;
                height: 32px;
            }
            p {
                line-height: 20px;
            }
        }
    }
}