
.accordion {
    width: 100%;;
    margin: 0 auto;
    padding: 0px 0 40px;
    overflow: hidden;
  }
  
  /* Accordion Item */
  .accordion-item {
    border-bottom: 1px solid $color-brand-primary;
    button {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding-left: 8px;
        &::before {
            content: url(../assets/icon-plus.svg);
            margin-right: 8px;
        }
        p{
          font-size: 22px;
          line-height: 26px;
        }
    }    
  }
  
  button {
    &::before:hover {
        content: url(../../assets/icon-plus-secondary.svg);
    }
  }

  /* Accordion Header */
  .accordion-header {
    width: 100%;
    padding: 24px;
    font-size: 22px;
    font-weight: 200;
    text-align: start;
    color: $color-gray-50;
    background-color: $color-brand-secondary;
    border: none;
    outline: none;
    cursor: pointer;
    transition: $color-brand-primary 0.3s ease;
  }
  
  .accordion-header:hover {
   @include media (tablet){
    p{
      color: $color-brand-primary;
    }
  }
  }

  .accordion-header:focus {
    outline: none; 
  }
  
  /* Accordion Content */
  .accordion-content {
    padding: 0px 16px 24px 16px;
    display: none;
    background-color:$color-brand-secondary;
    p {
        font-size: 18px;
        font-weight: 100;
        line-height: 26px;
    }
  }
  
  /* Active styles */
  .accordion-header.active {
    color: $color-gray-50;
    background-color: $color-brand-secondary;
  }
  
  .accordion-content.active {
    display: block;
  }
  
  