
.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    color: $color-text;
    background: radial-gradient(62.99% 55.97% at 53.07% -16.11%, rgba(57, 242, 174, 0.50) 0%, rgba(57, 242, 174, 0) 100%);
    backdrop-filter: blur(5px);
    @include media (tablet){
        flex-direction: row;
        //background: radial-gradient(62.99% 55.97% at 53.07% -16.11%, rgba(6, 227, 105, 0.50) 0%, rgba(17, 7, 21, 0.50) 100%);
        background: radial-gradient(62.99% 55.97% at 53.07% -16.11%, rgba(57, 242, 174, 0.50) 0%, rgba(57, 242, 174, 0) 100%);
        backdrop-filter: blur(5px);
    }
    &-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        @include media (tablet){
            flex-direction: row;
        }
    }
    img {
        width: 100%;
        height: auto;
        @include media (tablet){
            width: 550px;
            height: auto;
        }
    }
    
    &-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        @include media (tablet){
            width: 50%;
        }
        span {
            color: $color-brand-primary;
        }
        &-description {
            padding-left: 8px;
            border-left: 1px solid $color-brand-primary;
            p {
                font-size: 18px;
                line-height: normal;
            }
        }
        a {
            
            img {
                width: 24px;
                height: 24px;
                color: aqua;
            }
        }
        
    }
}