.banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    color: $color-text;
    padding-top: 76px;

    @include media (tablet) {
        flex-direction: row;
        height: 600px;
        padding-top: 0;
    }

    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        @include media (tablet) {
            flex-direction: row;
        }
    }

    img {
        width: 100%;
        height: auto;

        @include media (tablet) {
            width: 550px;
            height: auto;
        }
    }

    &-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;

        @include media (tablet) {
            width: 50%;
        }

        h1 {
            font-size: 40px;
            line-height: auto;
        }

        span {
            color: $color-brand-primary;
        }

        &-description {
            padding-left: 8px;
            border-left: 1px solid $color-brand-primary;

            p {
                font-size: 18px;
                line-height: auto;
            }
        }

        a {

            img {
                width: 24px;
                height: 24px;
            }
        }

    }
}