a {
    font-family: $font-button;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

.button {
    text-transform: uppercase;
    font-weight: 400;
    @include font-size($font-size-100, $line-height-default);
    text-align: center;
    border-radius: 8px;

    &-primary {
        color: $color-brand-secondary;
        background-color: $color-brand-primary;
        border: solid $border-small $color-brand-primary;

        &:enabled {
            color: $color-brand-secondary;
            background-color: $color-brand-primary;
        }

        &:hover {
            text-decoration: none;
            color: $color-brand-primary;
            background-color: $color-brand-secondary;
            border: solid $border-small $color-brand-primary;
        }

        &:focus {
            color: $color-brand-secondary;
            background-color: $color-brand-primary;
            border: solid $border-small $color-additional-white;
        }
    }

    &-secondary {
        color: $color-brand-primary;
        border: solid $border-small $color-brand-primary;

        &:enabled {
            color: $color-brand-primary;
            background-color: $color-brand-secondary;

        }

        &:hover {
            color: $color-brand-secondary;
            background-color: $color-brand-primary;
            border: solid $border-small $color-brand-primary;
        }

        &:focus {
            color: $color-brand-primary;
            background-color: $color-brand-secondary;
            border: solid $border-small $color-additional-white;
        }
    }

    &-text {
        padding: 0;
        color: $color-brand-primary;
        background-color: none;
        text-align: start;

        &:enabled {
            color: $color-brand-primary;
        }

        &:hover {
            color: $color-accent;
        }

        &:focus {
            color: $color-brand-primary;
            border: solid $border-small $color-accent;
        }
    }

    &-icon {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    &-small {
        padding: 8px 12px;
    }

    &-medium {
        padding: 12px 12px;
    }

    &-large {
        padding: 20px 32px;
    }

    &-text {
        background-color: transparent;
        ;
        border: none;

        &:hover {
            color: $color-brand-secondary;
        }
    }

    &-rounded {
        border-radius: 32px;
    }

    &-square {
        border-radius: 8px;
    }
}