
.services-card {
    display: flex;
    padding: $spacing-800;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid $color-gray-200;
    background: rgba(17, 7, 21, 0.50);
    backdrop-filter: blur(5px);
    &-heading{
        display: flex;
        flex-direction: row;
        align-items: start;
        align-items: center;
        gap: 16px;
    }
    &-tag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }
}

.tag {
    display: flex;
    padding: 8px 16px 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: $color-secondary-800;
    backdrop-filter: blur(2px);
}

.price-card {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding: $spacing-800;
    border: solid 1px $color-brand-primary;
    h4 {
        font-weight: 300;
        color: $color-gray-50;
    }
    @include media (tablet){
        width: 100%;
    }
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: $spacing-100;
    align-items: center;
}

.number {
    font-size: 40px;
    font-weight: 300;
}