
.services-card {
    display: flex;
    padding: $spacing-400;
    border-radius: 8px;
    border: 2px solid rgba(250, 250, 250, 0.1);
    background: rgba(19, 19, 19, 0.20);
    backdrop-filter: blur(5px);
    @include media (tablet){
        padding: $spacing-800;
    }
    &-primary{
        flex-direction: row;
        justify-content: space-between;
        gap: 28px;
    }
    &-secondary {
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 24px;
        border: 2px solid rgba(250, 250, 250, 0.1);
        border-radius: 8px;
        background: rgba(17, 7, 21, 0.50);
        backdrop-filter: blur(5px);
        h3 {
            font-family: $font-title;
            font-size: $font-size-500;
            color: $color-text;
            font-weight: 300;
            line-height: normal;
        }
        @include media (tablet){
            max-width: 360px;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &-heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 16px;
    }
    &-tag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        text-transform: uppercase;
    }
    .number {
        font-family: $font-title;
        font-size: $font-size-1200;
        color: $color-brand-primary;
        line-height: 40px;
    }
}

.tag {
    display: flex;
    padding: 8px 16px 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: $color-muted;
    backdrop-filter: blur(2px);
}

.price-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    padding: $spacing-800;
    border-radius: 8px;
    border: 2px solid rgba(250, 250, 250, 0.1);
    background: radial-gradient(65.2% 67.63% at 54.46% 135.19%, rgba(6, 227, 105, 0.50) 0%, rgba(17, 7, 21, 0.50) 100%);
    backdrop-filter: blur(5px);
    @include media (tablet){
        width: 100%;
    }
    &-heading{
        display: flex;
        flex-direction: row;
        align-items: start;
        align-items: center;
        gap: 16px;
        h3 {
            font-family: $font-title;
            font-size: $font-size-500;
            color: $color-text;
            font-weight: 300;
            line-height: normal;
        }
    }
    span {
        color: $color-brand-primary;
    }
    &-ul{
        padding: $spacing-400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 16px;
        background: rgba(17, 7, 21, 0.40);
    }
}

.price {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: $spacing-100;
    align-items: center;
}

.number {
    font-family: $font-title;
    font-size: $font-size-1200;
    color: $color-brand-primary;
    line-height: 40px;
    &-small {
        font-size: $font-size-1000;
    }
}

#full-team{
    @include media (tablet){
        height: 300px;
        justify-content: center;
    }  
}

.method-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    gap: 16px;
    @include media (tablet){
        flex-direction: row;
        justify-content: space-between;
    } 
    &-heading{
        display: flex;
        flex-direction: row;
        align-items: start;
        align-items: center;
        gap: 16px;
        h3 {
            font-size: 24px;
            line-height: normal;
        }
    }
    &-description {
        max-width: 500px;
        padding-left: 8px;
        border-left: 1px solid $color-brand-primary;
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
    
}