
footer {
    position: relative;
    width: 100%;
    padding: 40px 16px;
    background-color: $color-brand-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
    @include media (tablet){
        padding-top: 80px;
    }
    .invitation {
        font-family: $font-title;
        position: absolute;
        left: 0;
        right: 0;
        top: 4px;
        font-size: 35px;
        font-weight: 800;
        text-transform: uppercase;
        color: $color-brand-secondary;
        @include media (tablet){
            top: 15px;
            font-size: 80px;
        }
    }
    .footer-services {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .brand-data {
        width: 100%;
        max-width: 952px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include media (tablet){
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            align-items: center;
        }
        &-text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 16px;
            @include media (tablet){
                align-items: start;
            }
            .direction {
                font-family: $font-title;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 500px;
            }
            p {
             color: $color-brand-secondary;
             font-weight: 400;
            }
            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 8px;
            }
        }
    }
}