footer {
    position: relative;
    width: 100%;
    padding: 40px 16px;
    background-color: $color-brand-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;

    .footer-services {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;

        a {
            color: $color-brand-secondary;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            text-decoration: none;

            &:hover {
                color: $color-brand-secondary;
            }
        }
    }

    .brand-data {
        width: 100%;
        max-width: 952px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include media (tablet) {
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            align-items: center;
        }

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 16px;

            @include media (tablet) {
                align-items: start;
            }

            .direction {
                font-family: $font-title;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 500px;
            }

            p {
                color: $color-brand-secondary;
                font-weight: 400;
            }

            a {
                color: $color-brand-secondary;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 8px;
                text-decoration: none;

                &:hover {
                    color: $color-brand-secondary;
                }
            }

            &-social {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 24px;
            }
        }
    }
}

.button-footer {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    font-weight: 200;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: $color-background;
    color: $color-text;
    border: 2px solid transparent;

    &:hover {
        background-color: $color-brand-primary;
        color: $color-background;
        font-weight: 500;
        border: 2px solid $color-background;
    }
}