.hero-banner {
    width: 100%;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    color: $color-text;
    background: radial-gradient(60% 60% at 50% 0%,
            rgba(57, 242, 174, 0.45) 0%,
            rgba(57, 242, 174, 0) 70%), #090B0F;
    backdrop-filter: blur(5px);

    @include media (tablet) {

        background: radial-gradient(60% 60% at 50% 0%,
                rgba(57, 242, 174, 0.45) 0%,
                rgba(57, 242, 174, 0) 70%),
            #090B0F;
        backdrop-filter: blur(5px);
    }

    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    img {
        width: 320px;
        height: 315.11px;

        @include media (tablet) {
            width: 500px;
            height: auto;
        }
    }

    &-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;
        align-items: center;

        h1 {
            @include font-size ($font-size-1200, $line-height-small);

            @include media (tablet) {
                @include font-size ($font-size-1300, $line-height-default)
            }
        }

        p {
            color: $color-text;
            @include font-size ($font-size-600, $line-height-small);

            @include media (tablet) {
                @include font-size ($font-size-800, $line-height-small)
            }
        }

        span {
            color: $color-brand-primary;
        }

        a {

            img {
                width: 24px;
                height: 24px;
                color: aqua;
            }
        }
    }
}