
.hero-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    color: $color-text;
    background: radial-gradient(74.47% 37.87% at 50% -13.06%, rgba(6, 227, 105, 0.50) 0%, rgba(17, 7, 21, 0.50) 100%);
    backdrop-filter: blur(5px);
    @include media (tablet){
        flex-direction: row;
        background: radial-gradient(62.99% 55.97% at 53.07% -16.11%, rgba(6, 227, 105, 0.50) 0%, rgba(17, 7, 21, 0.50) 100%);
        backdrop-filter: blur(5px);
    }
    &-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        @include media (tablet){
            flex-direction: row;
        }
    }
    img {
        width: 320px;
        height: 315.11px;
        @include media (tablet){
            width: 500px;
            height: auto;
        }
    }
    
    &-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        @include media (tablet){
            width: 50%;
        }
        span {
            color: $color-brand-primary;
        }
        a {
            
            img {
                width: 24px;
                height: 24px;
                color: aqua;
            }
        }
    }
}