
.icon{
    padding: $spacing-200;
    border-radius: $rounding-regular;
    border: 1px solid $color-gray-200;
    background: $color-secondary-900;
    img{
        height: 48px;
        width: 48px;
    }
}