label {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 4px;
}

input,
textarea {
  font-size: 14px;
  font-weight: 200;
  color: $color-text;
  padding: 16px;
  background-color: #22262e24;
  border: 2px solid rgba(99, 99, 99, 0.1);
  border-radius: 8px;

  &:focus {
    color: $color-text;
    font-size: 14px;
    font-weight: 200;
    outline: none;
    /* Quitar el borde predeterminado */
    border-color: $color-accent;
    box-shadow: none;
  }

  &::placeholder {
    font-size: 16px;
    font-weight: 200;
    opacity: 80%;
    color: $color-text;

  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

/* Mensajes de error */
.error-message {
  font-size: 12px;
  color: $color-additional-red;
  margin-top: 5px;
  display: none;
  /* Oculto por defecto */
}

input.error,
textarea.error {
  border-color: $color-additional-red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 2px rgba(250, 250, 250, 0.1),
    /* Simula el borde */
    0 0 0 30px $color-brand-secondary inset !important;
  /* Color de fondo */
  -webkit-text-fill-color: $color-text !important;
  border: none !important;
  /* Evita conflictos */
}