.menu-options {
    position: absolute;
    top: 68px;
    right: auto;
    left: auto;
    z-index: 1000;
    height: auto;
    background-color: $color-background;
    border: 2px solid rgba(250, 250, 250, 0.1);
    display: flex;
    width: 90%;
    max-width: 640px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 40px 20px;
    border-radius: 8px;
    gap: 24px;

    @include media (tablet) {
        top: 60px;
        right: 10%;
        width: 70%;
        height: auto;
        flex-direction: column;
        padding: 40px;
        border-radius: 24px;
        gap: 16px;
    }

    .menu-option-services {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0px;

        @include media (tablet) {
            flex-direction: row;
        }
    }

    div {
        width: 100%;
    }

    a {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 16px;
        color: $color-text;
        font-size: 18px;
        border-radius: 8px;

        img {
            width: 40px;
            height: 40px;
            margin-right: 12px;

            @include media (tablet) {
                width: 40px;
                height: 40px;
                margin-right: 8px;
            }
        }

        @include media (tablet) {
            font-size: 18px;
        }

        &:hover {
            color: $color-brand-primary;
            background-color: $color-muted ;
        }
    }
}


.inactive {
    display: none;
}

.other-options-mobile {
    display: block;

    @include media (tablet) {
        display: none;
    }
}

.other-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;

    a {
        width: 100%;
    }

    .button {
        width: 100%;
        justify-content: center;
        color: $color-brand-secondary;
    }

    @include media (tablet) {
        display: none;
    }
}

.other-desktop {
    display: none;


    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 16px;
        background-color: #1a1d2467;
        border: 2px solid rgba(99, 99, 99, 0.1);
        border-radius: 8px;
    }

    @include media (tablet) {
        display: flex;
        gap: 16px;
    }
}