nav {
    width: 100%;
    padding: $spacing-100 $spacing-600;
    background-color: $color-background;
    position: sticky;
    top: 0;
    z-index: 100;

    ul {
        li {
            padding: 12px 12px;
            border-bottom: 1px solid $color-brand-secondary;

            &::before {
                content: none;
            }

            &:hover {
                border-bottom: 1px solid $color-brand-primary;
                cursor: pointer;
            }
        }
    }
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        height: 40px;
        width: 40px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 24px;

    &-item {
        font-family: $font-button;
        text-transform: uppercase;
        font-size: $font-size-300;
        font-weight: 200;
        color: $color-brand-primary;

        &:hover {
            color: $color-brand-primary;
        }
    }
}