.site-nav {
    width: 100%;
    padding: $spacing-100 $spacing-600;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: transparent;
    backdrop-filter: blur(0);

    transition:
        background-color 0.3s ease,
        backdrop-filter 0.3s ease,
        box-shadow 0.3s ease;


    ul {
        display: flex;
        flex-direction: row;
        gap: 24px;

        li {
            padding: 8px 12px;
            border-radius: 8px;

            &::before {
                content: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}



.nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        height: 40px;
        width: 40px;
    }
}

/* estado al hacer scroll */
.site-nav.scrolled {
    background-color: $color-background;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 24px;

    &-item {
        font-family: $font-button;
        text-transform: uppercase;
        font-size: $font-size-200;
        font-weight: 200;
        color: $color-brand-primary;
        border: none;

        &:hover {
            background-color: $color-muted;
            ;
        }
    }

    @include media (mobile) {
        display: none;
    }
}

.menu-icon {
    display: block;

    @include media (tablet) {
        display: none;
    }
}