
.title {
    width: 100%;
    padding: $spacing-100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include media (tablet){
        padding: $spacing-2000;
    }
    h2 {
        font-size: 80px;
        font-weight: 400;
        line-height: normal;
        @include media (tablet){
            font-size: 230px;
            line-height: auto;
        }
    }
    &-gradient{
        flex-shrink: 0;
        background: linear-gradient(180deg, #FAFAFA -20%, #110715 70%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
