
// SECTIONS //

// TIENE QUE TENER PADDING TOP Y BOTTOM, Y PADDING RICHT Y LEFT

@mixin section ($spacing-top, $spacing-bottom) {
    width: 100%;
    padding-top: $spacing-top;
    padding-bottom: $spacing-bottom;
    padding-left: $spacing-600;
    padding-right: $spacing-600;
}

.section {
    &-xs {
        @include section($spacing-100, $spacing-100);
        @include media (mobile) {
            @include section($spacing-100, $spacing-100);
        }
    }
    &-small {
        @include section($spacing-400, $spacing-400);
        @include media (mobile) {
            @include section($spacing-400, $spacing-400);
        }
    }
    &-medium {
        @include section($spacing-800, $spacing-800);
        @include media (mobile) {
            @include section($spacing-800, $spacing-800);
        }
    }
    &-large {
        @include section($spacing-1200, $spacing-1200);
        @include media (mobile) {
            @include section($spacing-1200, $spacing-1200);
        }
    }
    &-xl {
        @include section($spacing-1800, $spacing-1800);
        @include media (mobile) {
            @include section($spacing-1800, $spacing-1800);
        }
    }
    &-xxl {
        @include section($spacing-2000, 0$spacing-2000);
        @include media (mobile) {
            @include section($spacing-2000, $spacing-2000);
        }
    }
    &-custom {
        padding: $spacing-600 $spacing-400;
    }
}

