
// BRAND COLORS //
$color-brand-primary: #39F2AE;
$color-brand-secondary: #1A1D24;
$color-background: #090B0F;
$color-text: #FAFAFA;
$color-text-muted: #8F96A3;
$color-muted: #22262E;
$color-accent: #6BFFAD;
$color-card: #111419;
$color-border: #262A33;
$color-destructive: #E54545;
 
$color-additional-white: #ffffff;
$color-additional-blue: #3d5cf5;
$color-additional-green: #09de70;
$color-additional-orange: #d2830d;
$color-additional-yellow: #e1d311;
$color-additional-red: #e33b13;
$color-additional-black: #000000;
