
// BRAND COLORS //
$color-brand-primary: #06E369;
$color-brand-secondary: #110715;

// SCALE OF COLORS //
$color-gray-50: #f6f6f6;
$color-gray-100: #e7e7e7;
$color-gray-200: #d1d1d1;
$color-gray-300: #b0b0b0;
$color-gray-400: #888888;
$color-gray-500: #6d6d6d;
$color-gray-600: #5d5d5d;
$color-gray-700: #4f4f4f;
$color-gray-800: #454545;
$color-gray-900: #3d3d3d;
$color-gray-950: #262626;

$color-primary-50: #eefff0;
$color-primary-100: #AAF5B8;
$color-primary-200: #00DC62;
$color-primary-300: #06E369;
$color-primary-400: #31f751;
$color-primary-500: #237F40;
$color-primary-600: #206B36;
$color-primary-700: #19592D;
$color-primary-800: #124B23;
$color-primary-900: #095e1a;
$color-primary-950: #00350a;

$color-secondary-50: #F4EAF9;
$color-secondary-100: #C0AACA;
$color-secondary-200: #877290;
$color-secondary-300: #6C5874;
$color-secondary-400: #523F59;
$color-secondary-500: #44314B;
$color-secondary-600: #3B2942;
$color-secondary-700: #33213A;
$color-secondary-800: #2B1B32;
$color-secondary-900: #1C0C22;
$color-secondary-950: #110715;

$color-additional-white: #ffffff;
$color-additional-blue: #3d5cf5;
$color-additional-green: #09de70;
$color-additional-orange: #d2830d;
$color-additional-yellow: #e1d311;
$color-additional-red: #e33b13;
$color-additional-black: #000000;
