
// ROUNDING //

$rounding-small: 4px;
$rounding-regular: 8px;
$rounding-medium: 16x;
$rounding-large: 20px;
$rounding-xl: 50%;

// BORDER // 

$border-small: 1px;
$border-medium: 2px;
$border-large: 4px;

// SHADOWS //

$shadow-box: -2px 2px 4px 0px rgba(0, 0, 0, 0.20);
$shadow-button: -2px 2px 4px 0px rgba(0, 0, 0, 0.20);
$shadow-custom: -2px 2px 4px 0px rgba(0, 0, 0, 0.20);