
// FOR GAPS MARGINS AND PADDINGS // 

$spacing-50: 2px;
$spacing-75: 4px;
$spacing-100: 8px;
$spacing-200: 12px;
$spacing-300: 14px;
$spacing-400: 16px;
$spacing-500: 18px;
$spacing-600: 20px;
$spacing-700: 22px;
$spacing-800: 24px;
$spacing-900: 28px;
$spacing-1000: 32px;
$spacing-1100: 36px;
$spacing-1200: 40px;
$spacing-1300: 45px;
$spacing-1400: 51px;
$spacing-1500: 58px;
$spacing-1600: 64px;
$spacing-1700: 73px;
$spacing-1800: 80px;
$spacing-1900: 92px;
$spacing-2000: 120px;