
// FAMILY FONTS //

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$font-title: 'Space Grotesk';
$font-body: 'Roboto';
$font-detail: 'Roboto';
$font-button: 'Space Grotesk';
$font-link: 'Space Grotesk';

// PARAGRAPHS //

p {
    font-family: $font-body;
    color: $color-gray-50;
    font-weight: 200;
    @include font-size ($font-size-75, $line-height-default);
}

// HEADINGS //

.h1 {
    font-family: $font-title;
    color: $color-gray-50;
    font-weight: 500;
    @include font-size ($font-size-1000, $line-height-default);
}

.h2 {
    font-family: $font-title;
    color: $color-gray-50;
    font-weight: 300;
    @include font-size ($font-size-1000, $line-height-small);
}

.h3 {
    font-family: $font-title;
    text-transform: uppercase;
    color: $color-gray-50;
    font-weight: 200;
    @include font-size ($font-size-600,  $line-height-small);
}

.h4 {
    font-family: $font-title;
    font-weight: 300;
    @include font-size ($font-size-400, $line-height-small);
}

.h5 {
    font-family: $font-title;
    font-weight: 300;
    @include font-size ($font-size-400, $line-height-small);
}

.h6 {
    font-family: $font-title;
    font-weight: 300;
    @include font-size ($font-size-400, $line-height-small);
}

// TITLES //

.title {
    font-family: $font-title;
    font-weight: 300;
    @include font-size ($font-size-500, $line-height-small);
}


// SUBTITLES //

.subtitle {
    font-family: $font-title;
    font-weight: 300;
    @include font-size ($font-size-200, $line-height-small);
}

// BODY //

.body-small-l {
    font-family: $font-body;
    font-weight: 300;
    @include font-size ($font-size-100, $line-height-small);
}

.body-small-r {
    font-family: $font-body;
    font-weight: 400;
    @include font-size ($font-size-100, $line-height-small);
}

.body-small-m {
    font-family: $font-body;
    font-weight: 500;
    @include font-size ($font-size-100, $line-height-small);
}

.body-small-b {
    font-family: $font-body;
    font-weight: 700;
    @include font-size ($font-size-100, $line-height-small);
}

//

.body-medium-l {
    font-family: $font-body;
    font-weight: 300;
    @include font-size ($font-size-200, $line-height-small);
}

.body-medium-r {
    font-family: $font-body;
    font-weight: 400;
    @include font-size ($font-size-200, $line-height-small);
}

.body-medium-m {
    font-family: $font-body;
    font-weight: 500;
    @include font-size ($font-size-200, $line-height-small);
}

.body-medium-b {
    font-family: $font-body;
    font-weight: 700;
    @include font-size ($font-size-200, $line-height-small);
}

// 

.body-large-l {
    font-family: $font-body;
    font-weight: 300;
    @include font-size ($font-size-300, $line-height-small);
}

.body-large-r {
    font-family: $font-body;
    font-weight: 400;
    @include font-size ($font-size-300, $line-height-small);
}

.body-large-m {
    font-family: $font-body;
    font-weight: 500;
    @include font-size ($font-size-300, $line-height-small);
}

.body-large-b {
    font-family: $font-body;
    font-weight: 700;
    @include font-size ($font-size-300, $line-height-small);
}

.body-xlarge {
    font-family: $font-body;
    font-weight: 200;
    @include font-size ($font-size-400, $line-height-small);
}

// DETAILS //

.detail-small-l {
    font-family: $font-detail;
    font-weight: 300;
    @include font-size ($font-size-50, $line-height-small);
}

.detail-small-r {
    font-family: $font-detail;
    font-weight: 400;
    @include font-size ($font-size-50, $line-height-small);
}

.detail-small-m {
    font-family: $font-detail;
    font-weight: 500;
    @include font-size ($font-size-50, $line-height-small);
}

.detail-small-b {
    font-family: $font-detail;
    font-weight: 700;
    @include font-size ($font-size-50, $line-height-small);
}

//

.detail-medium-l {
    font-family: $font-detail;
    font-weight: 300;
    @include font-size ($font-size-75, $line-height-small);
}

.detail-medium-r {
    font-family: $font-detail;
    font-weight: 400;
    @include font-size ($font-size-75, $line-height-small);
}

.detail-medium-m {
    font-family: $font-detail;
    font-weight: 500;
    @include font-size ($font-size-75, $line-height-small);
}

.detail-medium-b {
    font-family: $font-detail;
    font-weight: 700;
    @include font-size ($font-size-75, $line-height-small);
}

// 

.detail-large-l {
    font-family: $font-detail;
    font-weight: 300;
    @include font-size ($font-size-100, $line-height-small);
}

.detail-large-r {
    font-family: $font-detail;
    font-weight: 400;
    @include font-size ($font-size-100, $line-height-small);
}

.detail-large-m {
    font-family: $font-detail;
    font-weight: 500;
    @include font-size ($font-size-100, $line-height-small);
}

.detail-large-b {
    font-family: $font-detail;
    font-weight: 700;
    @include font-size ($font-size-100, $line-height-small);
}

